
<div fxFlex="20" *ngIf="dish" >
    <mat-card>
      <mat-card-header>
        <mat-card-title>
        <p>ID: {{dish._id}}</p>
        <h3>Title: {{dish.name | uppercase}}</h3>
        </mat-card-title>
      </mat-card-header>
      <img mat-card-image src="{{dish.image}}" alt={{dish.name}}>
      <mat-card-content>
        <p>{{dish.description}}
        </p>
      </mat-card-content>
    </mat-card>
  </div>


<div fxFlex="40" class="form-size" *ngIf="dish">
    <h3>Updated your Dish</h3>
    <p>{{ newdishForm.value | json }} {{ newdishForm.status | json }}</p>

    <form novalidate [formGroup]="newdishForm" #ndform="ngForm" (ngSubmit)="onSubmit(newdishForm.value)" >

      <p>
        <mat-form-field class="half-width">
          <input matInput formControlName="_id" [(ngModel)]="dish._id"  placeholder="_id" type="text" >
        </mat-form-field>
      </p>

      <p>
        <mat-form-field class="half-width">
          <input matInput formControlName="name" [(ngModel)]="dish.name"  placeholder="Name" type="text" required>
          <mat-error *ngIf="formErrors.name">{{formErrors.name}}</mat-error>
        </mat-form-field>
        <mat-form-field class="half-width">
          <input matInput formControlName="category" [(ngModel)]="dish.category" placeholder="Categorie" type="text" required>
          <mat-error *ngIf="formErrors.category">{{formErrors.category}}</mat-error>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field class="half-width">
          <input matInput formControlName="price" [(ngModel)]="dish.price"placeholder="Price" type="number" >
        </mat-form-field>
        <mat-form-field class="half-width">
          <input matInput formControlName="label"[(ngModel)]="dish.label" placeholder="label" type="text"  >
        </mat-form-field>
      </p>

      <div>
        <mat-checkbox  [color]="color" formControlName="featured" [(ngModel)]="dish.featured">Featured</mat-checkbox>
      </div>

      <p>
        <mat-form-field class="full-width">
          <textarea matInput formControlName="description" [(ngModel)]="dish.description" placeholder="description" rows=8></textarea>
        </mat-form-field>
      </p>


      <div class="half-width">
        <input formControlName="image" [(ngModel)]="dish.image"  placeholder="image" type="text" />




      </div>





      <button type="submit" mat-button class="background-primary text-floral-white" [disabled]="newdishForm.invalid || fileIsUploading" >Submit</button>
    </form>


  </div>


